<!DOCTYPE html>
<html>
  <head>
    <title>gotime</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>gotime</h1>
    <p>Welcome to gotime</p>
  </body>
</html>